@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: gold;

}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  :root {
    --background-color: #14161a;
    --text-color: white;
  }
  
  .light-mode {
    --background-color: white;
    --text-color: black;
  }